<!DOCTYPE html>
<html lang="en">
    <head>
        <%= render '/partials/head.html' %>
    </head>
    <body>
        <%= render '/partials/top.html' %>
        <div class="section content">
            <% if @item.key?(:image) %>
            <div class="content-image">
                <img src="<%= @item[:image] %>">
            </div>
            <% end %>
            <h2><%= "#{@item[:title]}" %></h2>
            <p class="smalltext"><%= format_date(@item[:date]) %></p>
            <%= yield %>
        </div>
        <%= render '/partials/bottom.html' %>
    </body>
</html>